@model MVCBasicClassExample1.Models.Video
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Details</title>
</head>
<body>
    <h2>Confrim Deletion of Video: @Model.Title</h2>
    <table>
        <tr>
            <td>Title:@Model.Title </td>
        </tr>
        <tr>
            <td>Genre: @Model.Genre</td>
        </tr>
        <tr>
            <td>Id: @Model.Id</td>
        </tr>
    </table>
    <form asp-action="Delete" method="post">
<input type="submit" value="Delete @Model.Title"/>
</form>
    <br />
    <a asp-action="Index">Cancel</a>
</body>
</html>