@model IEnumerable<MVCBasicClassExample1.Models.Video>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Video</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Genre</td>
            </tr>
        </thead>
        @foreach (var video in Model)
        {
            <tr>
                <td>@video.Id</td>
                <td>@video.Title</td>
                <td>@video.Genre</td>
                <td><a asp-action="Details" asp-controller="Video" asp-route-id="@video.Id">Details</a></td>
            </tr>
        }
    </table>
    <br />
    <a asp-action="Create" asp-controller="Video">Create New Video</a>
</body>
</html>
